@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

@layer base{
  body{
    @apply font-[Raleway];
  }

  li{
    @apply px-4;
    @apply cursor-pointer;
  }
}

.project-1{
  background-image: url('./assets/Natours.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.project-1:hover{
  background: linear-gradient(
    to right, 
    rgba(112, 157, 255, 0.8),
    hsla(242,74%,61%,0.8)
  );
}

.project-2{
  background-image: url('./assets/WildPreserve.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}

.project-2:hover{
  background-image: linear-gradient(
    to right, 
    rgba(112, 157, 255, 0.8),
    hsla(242,74%,61%,0.8)
  );
}

.project-3{
  background-image: url('./assets/Bankist.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.project-3:hover{
  background-image: linear-gradient(
    to right, 
    rgba(112, 157, 255, 0.8),
    hsla(242,74%,61%,0.8)
  );
}

.project-4{
  background-image: url('./assets/Mapty.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.project-4:hover{
  background-image: linear-gradient(
    to right, 
    rgba(112, 157, 255, 0.8),
    hsla(242,74%,61%,0.8)
  );
}

.project-5{
  background-image: url('./assets/Pig\ Game.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}

.project-5:hover{
  background-image: linear-gradient(
    to right, 
    rgba(112, 157, 255, 0.8),
    hsla(242,74%,61%,0.8)
  );
}

.slideIn{
  animation-duration: 1.5s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slidein {
  from{
    margin-left: 150%;
  }

  to{
    margin-left: 0%;
  }
}
